
<div class="hero-body has-text-centered">
  <h4 class="subtitle is-4">MY WORKOUTS</h4>
  <form action="/myWorkouts/create-workout" method="get">
    <div class="buttons has-addons is-centered">
        <p class="control">
          <button type="submit" class="button is-link">Add new workout</button>
        </p>
    </div>
  </form>
</div>
  <div class="list is-hoverable">
    {{#if errors}}
      <p>{{errors}}</p>
    {{else}}
      {{#each workouts}}
         <a class="list-item" href="/myWorkouts/singleWorkout/{{this.id}}">
           <p>{{this.title}} <br> {{this.createdAt}}</p>
       </a>
     {{/each}}
   {{/if}}
</div>
